

<div >
    <!--<img src="images/seldon-logo.png" alt="Seldon Logo" width="100%" />-->
   <!--<h2>Movie Recommendations Demo</h2>-->
    <!-- <p class="lead">
        {{leadMessage}}
     </p>-->


    <div class="input-group">
        <form ng-submit="searchItems()">
            <input type="text" id="item-search-box" class="form-control" placeholder="Search for a item..." ng-model="search_movie"/>
        </form>
              <span class="input-group-btn">
        <button class="btn btn-default" id="item-search-button" disabled="true" type="button" ng-click="searchMovies()">Go!</button>
      </span>

    </div>
</div>


<!--;getRecommendations('recommenders:MATRIX_FACTOR|RECENT_MATRIX_FACTOR,num_recent_actions:20' -->
<div id="user-history-algs-section" style="display: none">
    <div class="alert alert-success no-display" ng-class="likeAddedAlert" role="alert">{{success_message}}</div>
    <br/>
    <!--<h3>Algorithms</h3>-->
    <!--<div class="alert alert-info " role="alert">Click on the algorithms below to get recommendations based on your liked items or add some more liked items to increase the accuracy. <a href="#/about#algoSection">More information</a></div>
-->    <ul class="nav nav-pills nav-justified">
        <li ng-class="defActivated"><a ng-click="activateAlgButton('defActivated');getRecommendations('')">Default</a></li>
        <li ng-class="mfActivated"><a ng-click="activateAlgButton('mfActivated');getRecommendations('recommenders:RECENT_MATRIX_FACTOR')">Matrix Factorization</a></li>
        <li ng-class="simActivated"><a ng-click="activateAlgButton('simActivated');getRecommendations('recommenders:RECENT_SIMILAR_ITEMS')">Similar Items</a></li>
        <li ng-class="semActivated"><a ng-click="activateAlgButton('semActivated');getRecommendations('recommenders:RECENT_TOPIC_MODEL')">Topic Model</a></li>
        <li ng-class="wordActivated"><a ng-click="activateAlgButton('wordActivated');getRecommendations('recommenders:WORD2VEC')">Word2Vec</a></li>
        <li ng-class="x1Activated"><a ng-click="activateAlgButton('x1Activated');getXRecommendations('1')">Ex-1</a></li>
        <li ng-class="x2Activated"><a ng-click="activateAlgButton('x2Activated');getXRecommendations('2')">Ex-2</a></li>
        <li ng-class="x3Activated"><a ng-click="activateAlgButton('x3Activated');getXRecommendations('3')">Ex-3</a></li>

    <!--        <li ng-class="topActivated"><a ng-click="activateAlgButton('topActivated');getRecommendations('recommenders:TOPIC_MODEL|RECENT_TOPIC_MODEL')">Topic Model</a></li> -->
    </ul>

    </div>
        <div class="alert alert-success no-display" ng-class="searchAlert" role="alert">{{failed_search_message}}</div>
        <div class="alert alert-success no-display" ng-class="recAlert" role="alert">{{failed_rec_message}}</div>
        <div id="searched-items" style="display: none">
        <h3 class="no-display" ng-class="searchResultsClass">Search results</h3>
        <div class="alert alert-success no-display" ng-class="infoAlert" role="alert">{{info_message}}</div>
        <h3 class="no-display" ng-class="recResults">Recommendation results:</h3>
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-3" ng-repeat="item in items.list">
                <span style="display: none">
                    {{id=item.id || item.contentId}}
                    {{image=item.attributesName.image || item.image;}}
                    {{name=item.name || item.altText;}}
                </span>
                <div class="film thumbnail">
                    <div class="film-pic thumbnail" style="cursor: pointer">
                        <img class='item-pic-img' ng-src="{{image}}" title="{{name}}" ng-click="addUserAction({{id}})"/>
                    </div>
                    <div class="caption item-capt">
                        {{name}}-({{id}})
                    </div>
                    <div class="text-center">
                        <div class="btn-group" role="group" aria-label="...">
                            <button title="View this item" type="button" class="btn btn-default" ng-click="addViewAction({{item.id}})">View</button>
                            <button title="Cart this item" type="button" class="btn btn-default" ng-click="addCartAction({{item.id}})">Cart</button>
                            <button title="Buy this item" type="button" class="btn btn-default" ng-click="addBuyAction({{item.id}})">Buy</button>

                            <!--<div class="btn-group" role="group">-->
                                <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">-->
                                    <!--Find-->
                                    <!--<span class="caret"></span>-->
                                <!--</button>-->
                                <!--<ul class="dropdown-menu" role="menu">-->
                                    <!--<li><a ng-click="getRecommendations('recommenders:RECENT_MATRIX_FACTOR,num_recent_actions:1',{{item.id}})">Matrix factorization</a></li>-->
                                    <!--<li><a ng-click="getRecommendations('recommenders:RECENT_SIMILAR_ITEMS,num_recent_actions:1',{{item.id}})">Similar Items</a></li>-->
                                    <!--<li><a ng-click="getRecommendations('recommenders:SEMANTIC_VECTORS,num_recent_actions:1',{{item.id}})">Tag similarity</a></li>-->
                                    <!--<li><a ng-click="getRecommendations('recommenders:RECENT_TOPIC_MODEL,num_recent_actions:1',{{item.id}})">Topic model</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        </div>

                    </div>

                </div>
            </div>
            </div>
        </div>


<!--
<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
-->
